.wrapper-dashboard {
    height: 100vh;
    /* max-width: 800px; */
    margin: auto;
    /* display: grid; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* place-items: center; */
    height: calc(100vh);
}