
.profile-icon-nav {
    max-width: 100px;
}
  .nav-list-item {
      list-style: none;
      justify-content: space-between;
      margin-right: 1rem;
      text-align: center;
  }
  
  .nav-list-item {
    margin: 0 1rem;
    text-decoration: none;
    padding-bottom: 0.25rem;
    width: 100%;
    position: relative;
  }
  
  .nav-list-item::after {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 2rem;
    height: 0.25rem;
    background: white;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: transform 0.45s ease;
  }
  
  .nav-list-item:hover {
    transform: scale(1,1);
    opacity: 0.65;
  }
  
  .nav-list-item:hover::after {
    transform: scale(1,1);
    position: absolute;
  }
  
  .nav-list-item.active {
    opacity: 1;
  }
  
  .nav-list-item.active::after {
    transform: scale(1,1);
  }
  